[submodule "Plugin/FullCalendar"]
	path = Plugin/FullCalendar
	url = https://github.com/msbragi/fullcalendar.git
[submodule "Plugin/Authake"]
	path = Plugin/Authake
	url = https://github.com/msbragi/authake.git
[submodule "Plugin/Cakemenu"]
	path = Plugin/Cakemenu
	url = https://github.com/msbragi/cakemenu.git
[submodule "Plugin/TwitterBootstrap"]
	path = Plugin/TwitterBootstrap
	url = https://github.com/msbragi/TwitterBootstrap.git
